div#buttonsDiv,
div#buttonsDivNextUndo {
    display: flex;
    margin-bottom: 10px;
}

/*
div#buttonsDivNextUndo {
    display: flex;
}
*/

/* 
#message{
    background-color: grey;
} */

button#buttonArrows.btn.btn-light {
    border-color: transparent;
    background: transparent;
    display: grid;
}

i#arrows.fas.fa-caret-right,
i#arrows.fas.fa-caret-left {
    font-size: -webkit-xxx-large;
}

button.btn.btn-info {
    margin-left: 10px;
}

button.btn.btn-dark {
    border-color: RGB(45, 45, 45);
    background: RGB(45, 45, 45);
    color: white;
}

.input-color {
    position: relative;
}

.input-color {
    padding-left: 30px;
}

.color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}

.texting {
    font-size: 125%
}

.alert-secondary {
    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
    font-size: 1.5rem;
    margin-top: 2em;
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: .25rem;
}