.file-field.medium .file-path-wrapper {
    height: 3rem;
}

.file-field.medium .file-path-wrapper .file-path {
    height: 2.8rem;
}

.file-field.big-2 .file-path-wrapper {
    height: 3.7rem;
}

.file-field.big-2 .file-path-wrapper .file-path {
    height: 3.5rem;
}

div#buttonsDiv{
    display: flex;
}

button#buttonArrows.btn.btn-light{
    border-color: transparent;
    background: transparent; 
    display: grid;
}

i#arrows.fas.fa-caret-right,
i#arrows.fas.fa-caret-left{
    font-size: -webkit-xxx-large;
}